.navbar-container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    z-index: 9999;
    /*background-color: #b2e3d5*/
    background: #abd385;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    flex: wrap;
    color: #42ba97 !important;
}

.navbar-logo-link {
    color: black;
    text-decoration: none;
    /* font-style: oblique; */
}

.navbar-link {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 19px;
    color: #1a3c32;
}

.navbar-link:hover {
    color: black;
}
.navbar-link:active{
    color: black;
}
.navbar-link:focus{
    color: black;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
